.App {
  text-align: center;
}

#hnmain a {
  text-decoration: none;
}

.mainTable {
  width: 100%;
  padding: 2px;
}

.main-table-header {
  background-color: #fd6721;
}

.main-headings {
  line-height: 12pt;
  height: 10px;
}

.pageTop {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #222222b6;
  font-weight: 400;
}

.hnname {
  margin-right: 5px;
}

.user-profile-settings {
  text-align: right;
  padding-right: 4px;
}

.container-fluid a {
  color: #828282;
}

.subText {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

.container-fluid .title a{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #554b4b;
}

.more-space {
  height: 10px;
}

.divider {
  height: 2px;
  background-color: #fd6721;
}

.footer a {
  color: #554b4b;
  font-size: 10pt;
}
