.App {
  text-align: center;
}

.mainTable {
  width: 100%;
  padding: 2px;
}

.main-table-header {
  display: flex;
  background-color: #fd6721;
}

/* .main-headings {
  flex-direction: row;
} */

.user-profile-settings {
  text-align: right;
  padding-right: 4px;
  flex-direction: row-reverse;
}

.container-fluid a {
  text-decoration: none;
}

.hnname {
  margin-right: 5px;
}

.subText {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.more-space {
  height: 10px;
}
