.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.mainTable {
  width: 100%;
  padding: 2px;
}

.main-table-header {
  background-color: #fd6721;
}

.main-headings {
  line-height: 12pt;
  height: 10px;
}

.pageTop {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #222222b6;
  font-weight: 400;
}

.hnname {
  margin-right: 5px;
}

.newsRow:nth-child(odd) {
  background-color: #fff8dc;
}

.newsRow:nth-child(even) {
  background-color: #d3d3d3;
}

.user-profile-settings {
  text-align: right;
  padding-right: 4px;
}

.container-fluid a {
  color: #828282;
}

.container-fluid .title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #3a3737;
}

.subText {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

.age {
  color: rgb(130, 130, 130);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
}

.more-space {
  height: 10px;
}

.divider {
  height: 2px;
  background-color: #fd6721;
}

.footer a {
  color: #554b4b;
  font-size: 10pt;
}

table {
  border-spacing: 0;
}
